<div class="col col-lg-12 col-centered">
  <div class="col-lg-12 col-centered">
    <div class="col-lg-12 col-centered">
      <h3>
        Categorias
        <button class="text-right btn btn-outline-info btn-lg" type="button" (click)="add()">
          <i class="pi pi-plus-circle"></i>
        </button>
      </h3>
    </div>
    <div class="col-lg-12 col-centered">
      <table class="table">
        <thead>
          <th class="text-center">Nome</th>
          <th colspan="2" class="text-center">Ações</th>
        </thead>
        <tbody>
          <tr *ngFor="let categoria of categorias$ | async">
            <td class="text-center">{{ categoria.nome }}</td>
            <td class="text-right">
              <button type="button" class="btn btn-success" (click)="selectCategoria(categoria)">
                <i class="pi pi-user-edit"></i>
              </button>
            </td>
            <td class="text-left">
              <button type="button" class="btn btn-danger" (click)="delete(categoria)">
                <i class="pi pi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <a routerLink="/admin/panel" class="btn btn-primary">
          <i class="pi pi-search" aria-hidden="true"></i>
          Voltar
        </a>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Dados da categoria" [style]="{width: '80vw'}" [contentStyle]="{'overflow':'visible'}" [(visible)]="displayDialogCategoria" [responsive]="true" [modal]="true">
  <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="formGroup.value">
    <form [formGroup]="formGroup" class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="nome">Nome*:</label>
        <input type="text" pInputText formControlName="nome">
      </div>
      <div class="p-d-flex p-jc-end m-1">
        <button [disabled]="!formGroup.valid" type="button" class="btn btn-primary" (click)="save()">
          <i class="pi pi-check-circle"></i> {{ edit ? 'Atualizar' : 'Salvar' }}
        </button>
      </div>
    </form>
  </div>
</p-dialog>